#root {
    background-color: #fcfafc;
}
.container {
    min-height: 100vh;
    height: 100%;
    text-align: center;
}
.titleMargin{
    margin: 2% 2%;
}
.buttonMargin{
    margin-bottom: 1%;
}
.canvas {
    font-family: Lucida Console;
    letter-spacing: 10px;
}
